div #ruby {
  border: 1px solid black;
  display: none;
}

div #php {
  border: 1px solid black;
  display: none;
}

div #java {
  border: 1px solid black;
  display: none;
}

div #css {
  border: 1px solid black;
  display: none;
}

div #net {
  border: 1px solid black;
  display: none;
}

body {
  text-align: center;
  background-color: #a6c1b9;
}

form {
  text-align: left;
}

.panel {
  background-color: transparent;
}
