div #ruby {
  display: none;
}

div #php {
  display: none;
}

div #java {
  display: none;
}

div #css {
  display: none;
}

div #net {
  display: none;
}

body {
  text-align: center;
  color: #00b3b4;
}

form {
  text-align: left;
}

.panel {
  background-color: transparent;

}
p {
  color: #969696;
  font-size: 15pt;
}

h3  {
  font-style: italic;
}

h1 {
  font-size: 30pt;
}
